{% extends 'layout/non_base.html' %}

{% block title %}Doctor{% endblock %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/employee/doctor.css') }}">

    <style>
        ul {
            padding: 0;
        }

        .modal-content .options {
            padding: 0;
        }
    </style>
{% endblock %}

{% block js_body %}
    <script src="{{ url_for('static', filename='js/employee/doctor.js') }}"></script>
{% endblock %}

{% block content %}
    <!-- Sidebar -->
    <div class="sidebar">
        <a href="{{ url_for('index') }}" class="logo">
            <div class="logo-name">F & H</div>
        </a>
        <ul class="side-menu">
            <li id="manage-btn" class="active"><a href="javascript:void(0)"><i class="bx fa-solid fa-bars-progress"></i>Manage</a></li>
            <li id="patient-btn"><a href="javascript:void(0)"><i class="bx fa-solid fa-person"></i>Patient</a></li>
            <li><a href="{{ url_for('profile_settings', slug=current_user.slug) }}"><i class="bx fa-solid fa-user"></i>Profile</a></li>
            <li><a href="{{ url_for('account_settings', slug=current_user.slug) }}"><i class="bx fa-solid fa-gear"></i>Settings</a></li>
            <li><a href="{{ url_for('signout') }}" class="logout"><i class="bx fa-solid fa-right-from-bracket"></i>Logout</a></li>
        </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button class="search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>
            <a href="javascript:void(0)" class="profile" style="display: flex; align-items: center">
                <img src="{{ current_user.avatar }}" alt="Avatar" style="margin-right: 8px">{{ current_user.user.full_name }}
            </a>
        </nav>

        <!-- End of Navbar -->
        <h1 class="manage-title">LIST OF MEDICAL BILLS</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category != 'message' %}
                        <div class="alert alert-{{ category }} text-center mt-3 text-center"
                             style="width: 50%; margin: 16px auto;">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="table-manage">
            <table>
                <tr>
                    <th>ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Gender</th>
                    <th>Examination day</th>
                    <th>Created date</th>
                </tr>

                {% if not medical_bills_list %}
                    <td colspan="6">There are no items in the table.</td>
                {% else %}
                    {% for medical_bill in medical_bills_list %}
                        <tr>
                            <td>{{ medical_bill.id }}</td>
                            <td>{{ medical_bill.patient.user.first_name }}</td>
                            <td>{{ medical_bill.patient.user.last_name }}</td>
                            <td>{{ medical_bill.patient.user.gender }}</td>
                            <td>{{ medical_bill.examination_date.strftime('%Y-%m-%d') }}</td>
                            <td>{{ medical_bill.created_date.strftime('%Y-%m-%d') }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>

        <h1 class="patient-title">LIST OF PATIENTS</h1>
        <div class="table-patient">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Full name</th>
                    <th>Gender</th>
                    <th>Date of birth</th>
                    <th>Phone number</th>
                    <th>Action</th>
                </tr>

                {% if not patients_list %}
                    <td colspan="6">There are no items in the table.</td>
                {% else %}
                    {% for patient in patients_list %}
                        <tr>
                            <td id="patient_id_{{ loop.index0 }}">{{ patient.id }}</td>
                            <td id="patient_full_name_{{ loop.index0 }}">{{ patient.user.full_name }}</td>
                            <td>{% if patient.user.gender %}{{ patient.user.gender }}{% else %}...{% endif %}</td>
                            <td>{% if patient.user.dob %}{{ patient.user.dob.strftime('%Y-%m-%d') }}{% else %}...{% endif %}</td>
                            <td>{% if patient.user.phone_number %}{{ patient.user.phone_number }}{% else %}...{% endif %}</td>
                            <td>
                                <button class="invoice"><i class="fa-solid fa-print"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>

        <div class="modal-create-medical-bill">
            <form method="post" action="{{ url_for('employee_doctor') }}">
                <table id="medicine-list-table">
                    <tr>
                        <th colspan="6" style="background: var(--primary-color)">MEDICAL BILL</th>
                    </tr>

                    <tr style="background-color: var(--white);">
                        <td id="patient_name" colspan="3">Patient Name:</td>
                        <input type="hidden" value="" id="patient_id_input" name="patient_id"/>
                        <td id="day_of_exam" colspan="3">Examination day:</td>
                        <input type="hidden" value="" id="day_of_exam_input" name="day_of_exam"/>
                    </tr>

                    <tr>
                        <td colspan="3">
                            <label for="symptoms">Systoms:</label>
                            <input id="symptoms" name="symptoms" type="text" placeholder="Enter systoms" required>
                        </td>
                        <td colspan="3">
                            <label for="diagnostic">Diagnostic:</label>
                            <input id="diagnostic" name="diagnostic" type="text" placeholder="Enter diagnostic" required>
                        </td>
                    </tr>

                    <tr id="add-packages-row">
                        <td colspan="6">Examination packages: <a href="" class="add-examination-packages">Add examination packages</a></td>
                        <input type="text" style="display: none;" value="" name="packages_id" id="packages_id" required/>
                    </tr>

                    <tr>
                        <th>ID</th>
                        <th>Medicine name</th>
                        <th>Unit</th>
                        <th>Amount</th>
                        <th>Directions</th>
                        <th>Edit</th>
                    </tr>

                    <tr id="add-medicine-row">
                        <td>...</td>
                        <td><a href="javascript:void(0)" class="add-medicine">Add medicine</a></td>
                        <input type="text" style="display: none;" value="" id="is_add_medicine" required/>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="modal-add-medicine">
            <div class="wrapper">
                <div class="modal-content">
                    <div class="search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input spellcheck="false" type="text" placeholder="Search">
                    </div>
                    <ul class="options">
                        {% if not medicine_list %}
                            <li>There are no items here.</li>
                        {% else %}
                            {% for medicine in medicine_list %}
                                <li class="medicines">{{ medicine.medicine_name }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="modal-add-examination-packages">
            <div class="wrapper-examincation">
                <div class="modal-content">
                    <div class="search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input spellcheck="false" type="text" placeholder="Search">
                    </div>
                    <ul class="options">
                        {% if not packages_list %}
                            <li>There are no items here.</li>
                        {% else %}
                            {% for packages in packages_list %}
                                <li class="packages">{{ packages.packages_name }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}