/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Some Tags */
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

/* Some Colors */
:root {
    --primary-color: #458ff6;
    --sub-color: #1472f4;
    --white: #fefefe;
    --black: #000;
    --gray: #7d7987;
}

/* SCROLLBAR */
::-webkit-scrollbar {
   width: 8px;
   background: #424d78;
}

::-webkit-scrollbar-thumb {
   background: linear-gradient(-45deg, #5ebbff 0%, #a174ff 100%);
}

::-webkit-scrollbar-thumb:hover {
   background: linear-gradient(-45deg, #4a99d2 0%, #8a5fe5 100%);
}

/* Button */
.my-btn {
    color: var(--primary-color);
    background-color: var(--white);
    min-width: 180px;
    height: 56px;
    border-radius: 54px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.125rem;
    transition: all 300ms ease-in-out;
    margin-right: 20px;
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0);
}

.my-btn:hover {
    background-color: var(--sub-color);
    color: var(--white);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1);
}

.my-btn-sub {
    font-size: 1.25rem;
    color: var(--primary-color);
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.my-btn-sub:focus,
.my-btn-sub:hover {
    color: var(--sub-color);
}

.my-btn-sub:focus::after,
.my-btn-sub:hover::after {
    width: 100%;
    left: 0;
}

.my-btn-sub::after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--sub-color);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

/*Animated*/
@keyframes zoomIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.plus-icon {
    animation: zoomIn 2s infinite alternate;
    position: absolute;
}

.plus-icon1 {
    left: 60%;
    top: 15%;
}

.plus-icon2 {
    right: 10%;
    top: 25%;
    animation-delay: 1s;
}

.plus-icon3 {
    right: 5%;
    top: 50%;
    animation-delay: 2s;
}

.plus-icon4 {
    right: 10%;
    top: 75%;
    animation-delay: 3s;
}

.plus-icon5 {
    left: 5%;
    top: 50%;
    animation-delay: 4s;
}

.plus-icon6 {
    left: 20%;
    top: 20%;
    animation-delay: 5s;
}

@keyframes matrix {
    0% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    25% {
        transform: matrix(1, 0, 0, 1, 15, 20);
    }

    50% {
        transform: matrix(1, 0, 0, 1, -5, 25);
    }

    75% {
        transform: matrix(1, 0, 0, 1, -15, 15);
    }

    100% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
}

.circle-icon {
    animation: matrix 8s infinite alternate;
    position: absolute;
}

.circle-icon1 {
    left: 5%;
    top: 30%;
    animation-delay: 6s;
}

.circle-icon2 {
    left: 40%;
    bottom: 10%;
}

/* Grid */
.my-grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.my-col-2 {
    width: 16.6667%;
    padding-left: 15px;
    padding-right: 15px;
}

.my-col-3 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
}

.my-col-4 {
    width: 33.3333%;
    padding-left: 15px;
    padding-right: 15px;
}

.my-col-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.my-col-8 {
    width: 66.6667%;
    padding-left: 15px;
    padding-right: 15px;
}
.my-col-9 {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
}

.my-col-10 {
    width: 83.3333%;
    padding-left: 15px;
    padding-right: 15px;
}

.my-col-12{
    width:100%;
    padding-left: 15px;
    padding-right: 15px;
}

/* Back To Top */
#back-to-top {
    position: fixed;
    display: none;
    bottom: 100px;
    right: 36px;
    width: 40px;
    height: 40px;
    z-index: 10;
    border-radius: 60% 40% 64% 36%/40% 73% 27% 60%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 20px #5ebbff;
    border: none;
    background: linear-gradient(325deg, #a174ff 0, #5ebbff 55%, #a174ff 90%);
    background-size: 280% auto;
    transition: 0.25s linear;
}

#back-to-top:hover {
    cursor: pointer;
    background-position: right top;
    box-shadow: 0 0px 10px #5ebbff, 0 0px 20px #5ebbff, 0 0px 30px #5ebbff,
    0 0px 40px #5ebbff, 0 0px 50px #5ebbff;
}

#back-to-top i {
    font-size: 1rem;
    color: #fff;
    transform: rotate(15deg);
}

.fadeInRight {
    animation-name: fadeInRight;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0) rotate(-15deg);
    }
}

.fadeOutRight {
    animation-name: fadeOutRight;
    animation-duration: 0.25s;
    animation-fill-mode: both;
}

@keyframes fadeOutRight {
    from {
        opacity: 1;
        transform: translateX(0) rotate(-15deg);
    }

    to {
        opacity: 0;
        transform: translateX(100%) rotate(-15deg);
    }
}